@media screen and (min-width: 600px) {
    #temples {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 25px;
        place-items: center;

    }

    #menu {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        padding: .25rem;
    }


    .navigation {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: right;
        position: relative;
        margin-left: auto;
        background-color: var(--primary-color);
    }


    .navigation a {
        display: block;
        padding: .5rem 1rem;
        color: white;
        text-decoration: none;
        font-size: 1.5em;
    }


}